<% if flash[:errors].present? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:success].present? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% flash[:success].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
