<table class="table table-bordered table-striped table-responsive">
    <thead>
    <% @table_headers.each do |header_info| %>
    <th> <%= header_info[:label] %> </th>
    <% end %>
    </thead>
    <tbody>
    <% boards.each do |board| %>
    <tr>
        <td> <%= link_to board.name, board_path(board.id) %> </td>
        <td> <%= board.email %> </td>
        <td style="width: 15%"> <%= time_tag board.created_at %></td>
    </tr>
    <% end %>
    </tbody>
</table>