<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-header text-center">
        <h1>New Board</h1>
      </div>
      <div class="card-body">
        <%= render "form", board: @board %>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>

